@import "tailwindcss";

/* ======================
   CSS Variables (Theme)
====================== */
:root {
  --color-bg: #F6F4F1;
  --color-fg: #171717;
}

/* Dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0a0a0a;
    --color-fg: #ededed;
  }
} */

/* ======================
   Base Styles
====================== */
html, body {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  -webkit-font-smoothing: antialiased;
}
